<h1><%= @task.title %></h1>

<p><%= @task.details %></p>

<p>Task completed:<%= check_box_tag 'completed', 0 , @task.completed %></p>

<%= link_to 'Edit this task', "#{@task.id}/edit" %>

<%= link_to 'Back to list', tasks_path %>

<%= link_to 'Delete',
  task_path(@task),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
